name: Append to file

on:
  schedule:
    - cron: "10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Fetch exchange rates
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p resources
          cd ./resources 
          echo "This was added at $(date)" >> append-log.logs
      
      - name: Get token 
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v4
        with: 
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update file
          committer: Personal-Token-Generator[bot] <personal-token-generator[bot]@users.noreply.github.com>
          author: Personal-Token-Generator[bot] <personal-token-generator[bot]@users.noreply.github.com>
          branch: auto-update-exchange-rates
          labels: automated,automerge,bot
          base: main
          title: " Auto Update Exchange Rates"
          body: |
            Update report !!
            - This is an auto generating PR  
            - This PR updates append-log.logs file
          delete-branch: true
      
      - name: Auto approve PR for exchange rate
        uses: hmarr/auto-approve-action@v3
        with: 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          review-message: "Reviewed by a "
          pull-request-number: ${{ $PULL_REQUEST_NUMBER }}

      - name: Auto merge PR for exchange rate
        if: ${{ github.head_ref == 'auto-update-exchange-rates' }}
        env:
          BASE_BRANCHES: main
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          MERGE_LABELS: automated
          MERGE_COMMIT_MESSAGE: " PR was merged automatically"
          MERGE_RETRIES: "10"
          MERGE_RETRY_SLEEP: "10000"
          MERGE_REQUIRED_APPROVALS: "1"
          MERGE_DELETE_BRANCH: true
          MERGE_ERROR_FAIL: true
        uses: "pascalgn/automerge-action@v0.15.5"
